*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #232323;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(145, 194, 205, 0.477);
    width: 500px;
    height: 300px;
    background-color: azure;
    color: black;
    text-transform: capitalize;
    position: relative;
}

#quiz-question{
  font-size: 1.8rem;
  padding: 20px;
  text-align: center;
}

ul{
    list-style: none;
    margin-left: 40px;
    cursor: pointer;
}

li{
    font-size: 1.2rem;
    margin-left: 15px;
    padding: 5px;
}

button{
    background-color: gold;
    border: none;
    color: white;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7.5px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}
button:hover{
    background-color: orange;
}